@import url(./root.css);

body {
    background-color: var(--color-primary);
}

.ball {
    width: var(--width-standard);
    height: var(--height-standard);
    background-color: var(--color-secondary);
    border-radius: var(--border-radius);
}